<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">REPARATION</h4>
            <p class="card-category"> Liste de tous les Reparations enregistrer</p>
          </div>
          <div class="card-body" *ngFor="let reparation of listReparation">
            <div class="card">
              <div class="card-body">
                <p><b>voiture: </b> reparation.voiture </p>
                <p><b> Bon de sortie: </b>
                  <span *ngIf="reparation.bonSortie"> <button mat-button color="primary"> Valider</button></span>
                  <span *ngIf="!reparation.bonSortie"> <button mat-button color="warn"> Non Valider</button></span>
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-warning">
                      <th> Description </th>
                      <th> Avancement </th>
                      <th> Debut Reparation</th>
                      <th> Fin Reparation </th>
                      <th> Duree exacte </th>
                      <th> Editer </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let affaire of reparation.aFaire">
                        <td> {{ affaire.description }} </td>
                        <td> {{ affaire.avancement }} </td>
                        <td> {{ affaire.dateDebut }} </td>
                        <td> {{ affaire.dateFin }} </td>
                        <td class="text-primary"> {{ affaire.dureeExacte }} </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>