<div class="main-content">
  <div class="container-fluid" style="margin: auto;margin-top: 5%;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <mat-tab-group fitInkBarToContent>
          <mat-tab label="INSCRIPTION">
            <div class="card">
              <div class="card-header card-header-warning">
                <h4 class="card-title">S'INSCRIR</h4>
                <p class="card-category">Creer votre compte</p>
              </div>
              <div class="card-body">
                <form [formGroup]="signin">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Nom" type="text" formControlName="nom" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre nom</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Prenom(s)" type="text" formControlName="prenoms" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre prenom(s)</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <!-- <mat-select [(value)]="selected"> -->
                        <mat-select formControlName="status">
                          <mat-option value="option1">Client</mat-option>
                          <mat-option value="option2">Admin</mat-option>
                          <mat-option value="option3">Responsible atelier</mat-option>
                          <mat-option value="option4">Responsible Financiere</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Date de naissance" type="date" formControlName="dateNaissance"
                          required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre date de naissance</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Adresse" type="text" formControlName="adresse" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre prenom(s)</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Telephone" type="text" formControlName="tel" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre numero de telephone</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre adresse Email</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'"
                          formControlName="password" required>
                        <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                          'visibility'}}</i>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre mot de passe</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Confirmation de votre mot de passe"
                          [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
                        <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                          'visibility'}}</i>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Veuillez confirmer votre mot de passe</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]="!signin.valid"
                    (click)="inscription()">Valider</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="LOGIN">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">SE CONNECTER</h4>
                <p class="card-category">Vous avez deja un compte</p>
              </div>
              <div class="card-body">
                <form [formGroup]="login">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email" required>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre adresse Email</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'"
                          formControlName="password" required>
                        <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                          'visibility'}}</i>
                        <!-- <mat-hint *ngIf="!passwordInput.value">Enter votre mot de passe</mat-hint> -->
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button class="btn btn-success pull-right" type="submit"
                    [disabled]="login.valid">Valider</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>