<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_car_wash</i>
                        </div>
                        <p class="card-category">Voitures</p>
                        <h3 class="card-title">4
                            <small></small>
                        </h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">construction</i>
                        </div>
                        <p class="card-category">Reparations</p>
                        <h3 class="card-title">4</h3>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">currency_exchange</i>
                        </div>
                        <p class="card-category">Payemments</p>
                        <h3 class="card-title">7500$</h3>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">STATISTIQUES</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2"></div>
                            <div class="col-lg-10 col-md-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">Couts des Reparations</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-primary card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">currency_exchange</i>
                                                </div>
                                                <p class="card-category">Cout total des repations payer par jour</p>
                                                <h3 class="card-title">{{ statReparationJour }} Arirary
                                                    <small></small>
                                                </h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-warrning card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">currency_exchange</i>
                                                </div>
                                                <p class="card-category">Cout total des repations payer par mois</p>
                                                <h3 class="card-title"> {{ statReparationMois }} Ariary</h3>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">Statistique des reparation</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">currency_exchange</i>
                                                </div>
                                                <p class="card-category">BENEFICES</p>
                                                <h3 class="card-title"> {{ benefice }} Arirary
                                                    <small></small>
                                                </h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">construction</i>
                                                </div>
                                                <p class="card-category">REPARATION MOYENNE</p>
                                                <h3 class="card-title"> {{ reparationMoyenne }}</h3>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>